TELEGRAM_BOT_TOKEN=REMPLACE_MOI
CLOUDINARY_CLOUD_NAME=REMPLACE_MOI
CLOUDINARY_API_KEY=REMPLACE_MOI
CLOUDINARY_API_SECRET=REMPLACE_MOI
CLOUDINARY_FOLDER=telegram-meta-catalog
GITHUB_TOKEN=REMPLACE_MOI
GITHUB_REPO_OWNER=monusername
GITHUB_REPO_NAME=catalogue-whatsapp
GITHUB_BRANCH=main
PUBLIC_CATALOG_URL=https://monusername.github.io/catalogue-whatsapp/meta_catalog.csv
